/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

[data-block="letter-cards"] {
  .card-header {
    font-size: 150px;
  }
  .card-title {
    margin-top: 3.625rem;
    margin-bottom: 1.5rem;
  }
}